@import url('https://fonts.googleapis.com/css2?family=Material+Icons');

:root {
	background-color: #000;
	font-family: sans-serif, 'Helvetica Neue', Helvetica, Arial;

	--main-color: #d4b583;
	--main-rgb: 212, 181, 131;
	--brightness: 0, 0, 0;
	--spotify-green: #1db954;
	--overlay: rgba(0, 0, 0, 0.5);
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body,
#__next {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

html {
	color-scheme: dark;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	border: 0;
	outline: none;
	font: inherit;
}

.icon {
	font-family: 'Material Icons';
	font-weight: normal;
	font-style: normal;
	font-size: 24px; /* Preferred icon size */
	display: inline-block;
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
}

.main {
	display: grid;
	grid-template-areas:
		'left-sidebar main-area'
		'bottom-bar bottom-bar';
	grid-template-columns: auto 1fr;
	grid-template-rows: 1fr auto;
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: relative;
}

.backdrop {
	object-fit: cover;
	z-index: -1;
	opacity: 0.8;
	filter: blur(16px);
}
